.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 50px 25px;

  .task_item {
    display: flex;
    gap: 20px;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }
}
