.general {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font: var(--font-m);
  gap: 20px;

  .list_item {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 65%;
    max-height: 65%;
    overflow-y: auto;
  }

  .pending {
    background-color: rgb(255, 0, 0, 0.5);
  }

  .completed {
    background-color: rgb(0, 128, 0, 0.5);
  }
}
